<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>NodeGirls</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700,900" rel="stylesheet">
	</head>
	<body>
	  
    <header>
      <nav>
        <img src="/img/nodegirls.png" alt="Node Girls">
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/eventos">Eventos</a></li>
        </ul>
      </nav>
    </header>
    
    <section>
      <div class="container">
        <h2>Sobre as <span>Node</span>Girls</h2>
      
        <p><%= about.pUm %></p>
        <p><%= about.pDois %></p>
      
      <a href="eventos.html">Participar do próximo evento</a>
      </div>
    </section>
    
    <footer>
      <ul>
        <li><strong>Node Girls</strong></li>
        <li>(90) 1234-5678</li>
        <li>contato@nodegirls.com</li>
      </ul>
    </footer>

		<script type="text/javascript" src="script.js"></script>
	</body>
</html>